<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://jAVA.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>
		</description>
		<display-name>Loginservlet</display-name>
		<servlet-name>Loginservlet</servlet-name>
		<servlet-class>Controller.Loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Addtask</display-name>
		<servlet-name>Addtask</servlet-name>
		<servlet-class>com.timesheet.controller.Addtask</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Addtimesheet</display-name>
		<servlet-name>Addtimesheet</servlet-name>
		<servlet-class>com.timesheet.controller.Addtimesheet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Timesheet</display-name>
		<servlet-name>Timesheet</servlet-name>
		<servlet-class>com.timesheet.controller.Timesheet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Rejecttedtimesheetservlet</display-name>
		<servlet-name>Rejecttedtimesheetservlet</servlet-name>
		<servlet-class>com.timesheet.controller.Rejecttedtimesheetservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Reportservlet</display-name>
		<servlet-name>Reportservlet</servlet-name>
		<servlet-class>com.timesheet.controller.Reportservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Addstatus</display-name>
		<servlet-name>Addstatus</servlet-name>
		<servlet-class>com.timesheet.controller.Addstatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addtimesheet</servlet-name>
		<url-pattern>/Addtimesheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Timesheet</servlet-name>
		<url-pattern>/Timesheet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Rejecttedtimesheetservlet</servlet-name>
		<url-pattern>/Rejecttedtimesheetservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reportservlet</servlet-name>
		<url-pattern>/Reportservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Addstatus</servlet-name>
		<url-pattern>/Addstatus</url-pattern>
	</servlet-mapping>
</web-app>